.gameName {
	height: 100%;
	background-color: aqua;
	margin-bottom: 20px;
}

.userBoard {
	height: 80px;
}

.box {
	margin: 10px;
	border: 3px solid #cccccc;
	height: 220px;
	text-align: center;
}

.userRPS {
	height: 150px;
}

.tool img {
	width: 50px;
}

.tool:hover {
	cursor: pointer;
	border-left: 3px solid aqua;
	border-right: 3px solid aqua;
}

.messageHolder {
	height: 200px;
	border: 1px solid #cccccc;
	overflow-y: scroll;
	text-align: left;
	line-height: 3px;
	padding: 10px 5px;
	margin-bottom: 5px;
}

.green {
	color: green;
}

.blue {
	color: blue;
}